.usersInfo {
    background-color: #203d41;
    width: 100%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.usersInfoContainer {
    padding-left: 5%;
}

.index {
    display: inline;
    padding-right: 20px;
}

.column {
    width: 20%;
    display: inline-block;
    padding: 10px;
    margin: 0;
}