.buttonCounter {
  width: 40px;
  height: 40px;
  border: 2px solid #203d41;
  border-radius: 20px;
  font-size: 20px;
  background-color: #94213d;
  color: #fff;
  box-shadow: 0 0 5px #fff;
  transition: .5s ease-out;
  margin: 5px; }

.buttonCounter:hover {
  border: 2px solid #fff; }

.buttonCounter:focus {
  outline: none; }
