$COLOR_ONE: #203d41;
$COLOR_TWO: #572c8e;
$COLOR_THREE: #94213d;

.buttonCounter {
    width: 40px;
    height: 40px;
    border: 2px solid $COLOR_ONE;
    border-radius: 20px;
    font-size: 20px;
    background-color: $COLOR_THREE;
    color: #fff;
    box-shadow: 0 0 5px #fff;
    transition: .5s ease-out;
    margin: 5px;
}

.buttonCounter:hover {
    border: 2px solid #fff;
}

.buttonCounter:focus {
    outline: none;
}
