$COLOR_TWO: #572c8e;
$COLOR_THREE: #94213d;

.filterField {
    text-align: center;
}

.search {
    width: 60%;
    padding: 5px 15px;
    border-radius: 5px;
    color: $COLOR_TWO;
    margin: 20px 0;
}

.search:focus {
    outline: none;
    border: 2px solid $COLOR_THREE;
}