.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #203d41;
    font-family: Arial, Helvetica, sans-serif;
}

.counterElem {
    margin: 20px 0;
    padding: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #203d41;
    border-radius: 5px;
    background-color: #215759;
    background: linear-gradient(to top, #354d51, #426e71);
    color: #fff;
    font-size: 46px;
    position: relative;
}

.counterElem::before {
    content: '';
    width: 100px;
    height: 2px;
    background-color: #203d41;
    position: absolute;
    left: 0;
    top: 30px;
}