body {
  margin: 0;
  padding: 0; }

.form {
  width: 100%;
  margin: auto;
  padding: 20px 0;
  text-align: center;
  background-color: #572c8e;
  background-image: url(https://wallpaperscraft.ru/image/fon_nebo_tochki_svet_83482_2560x1600.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif; }

.label {
  font-size: 20px;
  color: #fff; }

.input {
  display: block;
  width: 25%;
  margin: 10px auto;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px; }

.input:focus {
  outline: none;
  border: 2px solid #94213d; }

.submit {
  width: 120px;
  padding: 10px 0;
  background-color: #94213d;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  margin: 20px; }

.submit:hover {
  box-shadow: 0 0 10px #fff; }

.submit:focus {
  outline: none; }
