$COLOR_ONE: #203d41;
$COLOR_TWO: #572c8e;
$COLOR_THREE: #94213d;

body {
    margin: 0;
    padding: 0;
}

.form {
    width: 100%;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    background-color: $COLOR_TWO;
    background-image: url(https://wallpaperscraft.ru/image/fon_nebo_tochki_svet_83482_2560x1600.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.label {
    font-size: 20px;
    color: #fff;
}

.input {
    display: block;
    width: 25%;
    margin: 10px auto;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
}

.input:focus {
    outline: none;
    border: 2px solid $COLOR_THREE;
}

.submit {
    width: 120px;
    padding: 10px 0;
    background-color: $COLOR_THREE;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    margin: 20px;
}

.submit:hover {
    box-shadow: 0 0 10px #fff;
}

.submit:focus {
    outline: none;
}